body{
	background-color: #d8abda;
	height: 100vh;
}
.cent{
	place-items: center;
	display: grid;
	margin: 20%;
	text-align: center;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.calc{
	width: 30%;
	height: 60%;
	background-color: #88e2e6;
	align-content: center;
	border: 2px solid #000850;
	position: absolute;
}
#ans{
	width: 90%;
	margin-top: 20px;
	font-family: arial;
	font-size: 20px;
	color: #c394cc;
}
.btn input[type='button']{
	width: 40px;
	padding: 2px;
	margin: 4px;
	position: relative;
	left: 23px;
	top: 20px;
	height: 35px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.5s ease;
	background-color: #716ca3;
	border-radius: 6px;
}
.btn input[type='button']:hover{
	background-color: #5c5883;
	color: #000850;
}
footer{
bottom: -25px;
position: absolute;
width: 100%;
}